<div class="departments">
  <h1>Departments</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <th scope="row">1</th>
        <td>Marketing</td>
        <td>Marketing description</td>
        <td><button type="button" class="btn btn-info">View</button></td>
        <td><button type="button" class="btn btn-warning">Change</button></td>
        <td><button type="button" class="btn btn-danger">Danger</button></td>
      </tr>
      <tr class="table-default">
        <th scope="row">1</th>
        <td>Marketing</td>
        <td>Marketing description</td>
        <td><button type="button" class="btn btn-info">View</button></td>
        <td><button type="button" class="btn btn-warning">Change</button></td>
        <td><button type="button" class="btn btn-danger">Danger</button></td>
      </tr>
      <tr class="table-active">
        <th scope="row">1</th>
        <td>Marketing</td>
        <td>Marketing description</td>
        <td><button type="button" class="btn btn-info">View</button></td>
        <td><button type="button" class="btn btn-warning">Change</button></td>
        <td><button type="button" class="btn btn-danger">Danger</button></td>
      </tr>
    </tbody>
  </table>
</div>