<div class="menu__burger" (click)="toggleShow()">
  <span></span>
</div>
<div class="left-menu" [class.active]="show">
  <div class="menu d-flex justify-content-center align-items-center">
    <span class="menu__close" (click)="toggleShow()"></span>
    <nav class="nav justify-content-center ">
      <ul>
        <li class="nav__link"><a routerLink="" (click)="toggleShow()" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:
        true}">Departments</a></li>
        <li class="nav__link"><a routerLink="/employees" (click)="toggleShow()"
            [routerLinkActive]="['active']">Employees</a></li>
      </ul>
    </nav>
  </div>
</div>