<div class="departments__detail">
  <h1>Detail</h1>
  <div *ngIf="employee$; else ngNotFound">
    <h2>{{employee$.firstName}} {{employee$.lastName}}</h2>
    <p>Department id: {{employee$.departmentId}}</p>
    <div role="group" aria-label="Basic example" style="max-width: 20rem;">
      <a [routerLink]="['/employees/update',employee$.id]"><button type="button"
          class="btn btn-warning">Update</button></a>
      <button (click)="deleteEmployee(employee$.id)" type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
  <ng-template #ngNotFound>
    <p>Employee with id = {{id$}} not found!</p>
  </ng-template>
</div>