.wrapper {
  height: 100%;
}

.main {
  height: 100%;
  margin: 0;
}

.content {
  // background-color: #dae5ea;
  padding: 20px;
  margin: 0 0 0 180px;

  @media(max-width: 767px) {
    margin: 0;
  }
}
