<div class="employees__create">
  <h1>Employee create</h1>
  <form class="create__form col-6" action="">
    <label for="employees-name">First name</label>
    <input [(ngModel)]="firstName" name="firstName" id="employees-name" type="text" placeholder="Enter first name">
    <label for="employees-name">Last name</label>
    <input [(ngModel)]="lastName" name="lastName" id="employees-name" type="text" placeholder="Enter last name">
    {{departmentId}}
    <select [(ngModel)]="departmentId" name="departmentId">
      <option *ngFor="let department of departments | async" [value]="department.id">{{department.name}}</option>
    </select>
    <input (click)="createEmployee()" type="submit" value="Create">
  </form>
</div>